@charset "utf-8";
/* CSS Document */

.content .priceBox object {
}
.priceBox .vidWrap {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
}
.siteUrl a {
	text-decoration: none;
	color: #FC0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}
.siteUrl a:hover{
	background-color: #FC0;
	color: #FFF;
}
.siteUrl {
	font-size: 24px;
	color: #FFF;
	font-family: MarketDecoRegular;
	margin-top: 75px;
	display: block;
}
.vidLinks {
	display: block;
	padding: 0px !important;
	float: left;
	width: 100%;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;	
}
.vidLinks li a {
	display: block;
	margin: 7px;
	padding: 10px;
	float: left;
	width: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFF;
	text-decoration: none;
	font-size: 24px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}
.vidLinks li a:hover {
	color: #FFF;
	background-color: #FC0;
	
	}
.vidlinkhdr {
	font-size: 24px;
	display: block;
	padding: 0px !important;
	margin-top: 50px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}
